:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color-scheme: light dark;
  color: rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  background-image: 
    radial-gradient(#f90808 1px, transparent 2px),
    radial-gradient(#00000055 1px, transparent 2px);
  background-position: 0 0, 50px 50px;
  background-size: 75px 75px;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}

  
